* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.loading-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: gray;
  color: black;
}

.loading
{
  font-size: 30px;
  font-weight: bold;
}

.length
{
  border-radius: 50%;
  height: 20px;
  position: relative;
  right: 12px;
  background: rgba(252, 228, 119, 1);
  padding: 0px 4px;
}


/*  Header Styles */

.header {
  width: 100%;
  height: 80px;
  background: #8c9aff;
  /* background: #343a40;  */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

}

.cart-btn {
  padding: 0 20px;
}

.svg-icon {
  width: 30px;
  color: black;
}

.btn {
  padding: 5px 30px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  /* background-color: #ff6f61;  */
  /* background-color: #28a745; */
  /* color: white; */
  cursor: pointer;
}

/* Main content css */

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 250px;
  margin: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translate(0, -2px) 
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.container {
  padding: 20px;
}

.container h4 {
  margin-top: 10px;
}

.card .container p {
  margin-bottom: 10px;
}


.card .container button {
  margin-top: 10px;
  padding: 8px 12px;
  /* background-color: #007bff; */
  color: black;
  border: none;
  border-radius: 5px;
  /* color: white; */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card .container button:hover {
  background-color: rgba(252, 228, 119, 1);
}

/* Sidebar Styles */


.sidebar {
  background-color: white;
  width: 350px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -350px;
  z-index: 1000;
  transition: right 0.9s ease;
  overflow-y: auto;
}

.sidebar.open {
  right: 0;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #dee2e6;
}

.close-btn,
.clear-btn {
  background-color: transparent;
  border: none;
  color: #343a40;
  font-size: 16px;
  cursor: pointer;
}

.close-btn:hover,
.clear-btn:hover {
  color: rgba(252, 228, 119, 1);
}

.empty
{
  text-align: center;
}


.sidebar-content {
  padding: 20px;
}

.sidebar-bottom{
  display: grid;
  gap: 10px;
}


/* inside the sidebar content css */

.item {
  /* border-bottom: 1px solid #ddd; 
  margin-top: 10%; */
  border-bottom: 1px solid #dee2e6;
  /* padding: 20px 0; */
}

.item-details {
  margin: 20px 10px;
  display: flex;
  align-items: center;
}

.item-details img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
  border-radius: 5px;

}

.quantity-btn {
  display: flex;
  justify-content: space-evenly;
}

.quantity-btn button {
  padding: 5px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


